<header>
    <div class="logo">
        <h1>Products</h1>
    </div>
    <nav>
        <ul>
            <li><a href="">Campus</a></li>
            <li><a href="">Ville</a></li>
            <li><a href="">Acceuil</a></li>
            <li><a href="">Mon Profil</a></li>
            <li><a href="">Déconection</a></li>
        </ul>
    </nav>
</header>